/*Pizarra*/
:host{
    display: inline-block !important; 
    vertical-align: top !important;
}


:host div.canvas-container{
	border: 1px solid black;
width: 100% !important;
	margin: 10px auto;
	display: block;
}

canvas{
    border-radius: 15px;
    border:1px solid #ccc;

}

